<h1>Image Effects</h1>

<span>Image Upload Test</span>
<form class="upload_form">
</form>

<div class="thumbnails">thumbnails</div>
<div class="progress_bar">progress bar</div>

<p class="gallery">Cloudinary Test Image</p>
<div id="test"></div>
<br>



<br>
<br>
<span>End of Page what what</span>