<h1>Images Index of User</h1>

<% images.each(function (image) { %>
	 <br>
<% }); %>

<p>Test image</p>
<img src="http://img4.wikia.nocookie.net/__cb20130417210016/streetfighter/images/9/98/Urien-chibi.jpg">
<br>

<p id="test">Cloudinary Test Image</p>
<br>

<span>Image Upload Test</span>

<form>
    <label>
      File
			<input name="file" type="file" 
			   class="cloudinary-fileupload" data-cloudinary-field="image_id" 
			   data-form-data=" ... html-escaped JSON data ... " ></input>
    </label>
    <br>
    <label>
      Name
    </label>
    <br>
    <input type="submit" value="Upload">
</form>


<br>
<br>
<span>end of images</span>