<h1>Images Index of User</h1>

<% images.each(function (image) { %>
	 <br>
<% }); %>

<p>Test image</p>
<img src="http://img4.wikia.nocookie.net/__cb20130417210016/streetfighter/images/9/98/Urien-chibi.jpg">
<br>

<p>Cloudinary Test Image</p>
<div id="test"></div>
<br>

<span>Image Upload Test</span>
<form class="upload_form">
	<input type="submit" value="Upload">
</form>


<br>
<br>
<span>end of images</span>