<h1>Images Index of User</h1>

<% images.each(function (image) { %>
	 <br>
<% }); %>

<p>Test image</p>
<img src="http://img4.wikia.nocookie.net/__cb20130417210016/streetfighter/images/9/98/Urien-chibi.jpg">
<br>

<p id="test">Cloudinary Test Image</p>

<span>end of images</span>