<h1>Images</h1>

	<a href="/climages/qpvskvuduwdjwempsk4t">
	<%= cl_image_tag("qpvskvuduwdjwempsk4t", 
	:width => 300, :height => 300, :crop => :fill, :radius => 20,
	:format => :png) %>
	</a>
	
<% @images_id.each do |public_id| %>
	<a href="/climages/<%= public_id %>">
	<%= cl_image_tag(public_id, 
	:width => 300, :height => 300, :crop => :fill, :radius => 20,
	:format => :png,
	:border => {:width => 2, :color => "grey"},
	:transformation => [
		{:effect => "shadow"}, 
		{:effect =>  ""}] ) %>
	</a>
<% end %>


<p>What pagination</p>