<h1><a href="/climages"> Cloud Image Show Page</a></h1>
<% filter = "" %>
<% filters = %w{blackwhite negate sepia oil_paint vignette grayscale  pixelate_faces:4 blur_faces sepia:50 brightness:-40 fill_light saturation:70 hue:40 gradient_fade blur red:50 green:50 blue:50 } %>
<h4><%= @climage.caption %></h4>
<br>
<%= cl_image_tag(@climage.public_id, 
:radius => 20, :width => 800, :height => 800, :crop => :fill,
:format => :png, :effect => filter) %>



<div class="filters">Filters
	<br>
	<% filters.each do |filter| %>
		<a href=<%= cl_image_path(@climage.public_id, 
		:radius => 25,
		:format => :png, :effect => filter) 
		%>>
			
		<!--thumbnail -->
		<%= cl_image_tag(@climage.public_id, 
		:radius => 25, :size => "100x100", :crop => :fill,  :class => "filter-thumbnails",
		:format => :png, :effect => filter) %>
		</a>
	<% end %>
	
	
</div>