<h1>Sign Up!</h1>
<%= render "layouts/errors" %>

<%= form_for(@user) do |f| %>
	<label>Username
		<input type="text" name="user[username]" value ="">
	</label>
	
	<label>Password
		<input type="password" name="user[password]" value="">
	</label>
	
	<p>Attachinary uploading</p>
	<p>Upload Avatar
		<%= f.attachinary_file_field(:avatar) %>
	</p>
	<p>Upload up to 5 Images
		<%= f.attachinary_file_field(:images) %>
	</p>
	<input type="submit" name="commit" value="Sign Up">	
<% end %>