<div class="form-group">
	<%= form_tag("/climages" , :method => :post) do  %>
	  <%= cl_image_upload_tag(:image_id, :crop => :limit, :width => 1000, :height => 1000, 
	                          :html => {:class => "image_upload"}) %>
		<%= submit_tag("Confirm")%>
	<% end %>
</div>
<script>
	$(function(){
		var $uploader = $('.image_upload');
		$uploader.on('cloudinaryprogress', function(){
			$('body').prepend('<div class="spinner"></div>')
		});
		$uploader.on('cloudinarydone', function(){
			alert("done");
			$(".spinner").remove();
		})
	})
</script>
