<div class="form-group">
	<%= form_tag("/climages" , :method => :post, id: 'img-upload') do  %>
	  <%= cl_image_upload_tag(:image_id, :crop => :limit, :width => 1000, :height => 1000, 
	                          :html => {:class => "image_upload glyphicon glyphicon-camera"}) %>
	<% end %>
</div>
<script>
	$(function(){
		var $uploader = $('.image_upload');
		$uploader.on('cloudinaryprogress', function(){
			$('body').prepend('<div class="spinner"></div>')
		});
		$uploader.on('cloudinarydone', function(){
			$(".spinner").remove();
			setTimeout(function () {
				var data = $('#img-upload').serializeJSON();
				$.ajax({
					url: '/climages',
					type: 'POST',
					data: data,
					success: function () {
						console.log(arguments)
					},
					error: function (attribute) {
						console.log(arguments)
					},
				})
			}, 0);
			location.reload(); 
		});
	})
</script>
